* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --board-border: 1px solid black;
    --cell-border: var(--board-border);
    --cell-bg-color: beige;
    --cell-bg-color-occupied: rgb(94, 87, 87);
    --cell-bg-color-occupied-attacked: red;
    --cell-bg-color-non-occupied-attacked: cyan;
    --cell-bg-color-hover: rgb(206, 206, 181);
    --cell-bg-color-active: rgb(191, 191, 154);
}

.cell {
    background-color: var(--cell-bg-color);
    border: var(--cell-border);
}

.boards {
    margin: 24px;
    display: flex;
    justify-content: space-around;
}

.board {
    display: grid;
    width: 350px;
    grid-template-columns: repeat(10, 1fr);
    height: auto;
    border: var(--board-border);
    aspect-ratio: 1;
    cursor: default;
}

.board.revealed .cell.occupied {
    background-color: var(--cell-bg-color-occupied);
}

div.board .cell.attacked {
    background-color: var(--cell-bg-color-non-occupied-attacked);
}

div.board .cell.attacked.occupied {
    background-color: var(--cell-bg-color-occupied-attacked);
}

.cell:hover {
    background-color: var(--cell-bg-color-hover);
}
.cell:active {
    background-color: var(--cell-bg-color-active);
}
